@{
    ViewData["Title"] = "Home Page";
}
<<<<<<< HEAD
<div class="hello">
   <h1 class="display-4">Xin chào nga</h1>
<p>Chào mừng 😊</p>
=======
<div class="xin chao">
    <h1 class="display-4">Welcome</h1>
>>>>>>> main
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
