@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<div class="hello">
    <h1 class="display-4">Chào Mừng</h1>
=======
<div class="xin chao">
    <h1 class="display-4">Welcome</h1>
>>>>>>> main
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
